<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset>
  <actions/>
  <description>config for sonar 1.1</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <usePrivateRepository>false</usePrivateRepository>
  <ignoreUpstremChanges>false</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <reporters/>
  <publishers>
    <hudson.plugins.sonar.SonarPublisher>
      <jobAdditionalProperties>-Dproperty=value</jobAdditionalProperties>
      <installationName>My Sonar</installationName>
      <useSonarLight>false</useSonarLight>
      <mavenOpts>-Xmx512m</mavenOpts>
      <reuseReports>false</reuseReports>
      <scmBuilds>true</scmBuilds>
      <timerBuilds>true</timerBuilds>
      <snapshotDependencyBuilds>true</snapshotDependencyBuilds>
      <skipIfBuildFails>true</skipIfBuildFails>
    </hudson.plugins.sonar.SonarPublisher>
  </publishers>
  <buildWrappers/>
</maven2-moduleset>