.badge {
	display: inline-block;
	min-width: 10px;
	padding: 2px 7px;
	letter-spacing: .03em;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
}

.badge-failing {
	background-color: var(--alert-danger-bg-color);
	color: var(--alert-danger-text-color);
}

.badge-warning {
	background-color: var(--alert-warning-bg-color);
	color: var(--alert-warning-text-color);
}

.badge-success {
	background-color: var(--alert-success-bg-color);
	color: var(--alert-success-text-color);
}

table.sonar-projects {
	margin-left: 20px;
}

/* QUALITY GATE */
.sonar-qg {
	font-size: var(--font-size-base);
	font-weight: 600;
}

.sonar-qg-label {
	display: inline-block;
}

.sonar-qg-status {
	display: inline-block;
	margin-left: 10px;
}

/* CE TASK */
.sonar-ce {
	font-weight: 300;
	margin-top: 3px;
	padding: 2px;
	font-size: var(--font-size-sm);
}

.sonar-ce-label {
	display: inline-block;
}

.sonar-ce-status {
	display: inline-block;
	text-transform: capitalize;
	margin-left: 10px;
	font-weight: 600;
}