.sonar-status {
	color: white;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	border: none;
}

.badge {
	display: inline-block;
	min-width: 10px;
	padding: 2px 7px;
	letter-spacing: .03em;
	color: #fff;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
}

.badge-failing {
	background-color: red;
}

.badge-warning {
	background-color: orange;
}

.badge-success {
	background-color: #85bb43;
}

table.sonar-projects {
	margin-left: 20px;
}

/* QUALITY GATE */
.sonar-qg {
	font-size: 16px;
	font-weight: 600;
}

.sonar-qg-label {
	display: inline-block;
}

.sonar-qg-status {
	display: inline-block;
	margin-left: 10px;
	background-color: #4b9fd5;
}

/* CE TASK */
.sonar-ce {
	color: black;
	font-size: 12px;
	font-weight: 300;
	margin-top: 3px; font-size : 14px;
	padding: 2px;
	font-size: 14px;
}

.sonar-ce-label {
	display: inline-block;
}

.sonar-ce-status {
	display: inline-block;
	text-transform: capitalize;
	margin-left: 10px;
	font-weight: 600;
	background-color: #A3A3A3;
}