<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>config for sonar 1.1</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <hudson.plugins.sonar.SonarPublisher>
      <jobAdditionalProperties>-Dproperty=value</jobAdditionalProperties>
      <installationName>My Sonar</installationName>
      <mavenInstallationName>My Maven</mavenInstallationName>
      <useSonarLight>true</useSonarLight>
      <groupId>example.org</groupId>
      <artifactId>myproject</artifactId>
      <projectName>My Project</projectName>
      <projectVersion>0.1-SNAPSHOT</projectVersion>
      <projectDescription>Project description.</projectDescription>
      <javaVersion>1.5</javaVersion>
      <projectSrcDir>src/java</projectSrcDir>
      <projectSrcEncoding>UTF-8</projectSrcEncoding>
      <projectBinDir>target/classes</projectBinDir>
      <mavenOpts>-Xmx512m</mavenOpts>
      <reuseReports>false</reuseReports>
      <scmBuilds>true</scmBuilds>
      <timerBuilds>true</timerBuilds>
      <snapshotDependencyBuilds>true</snapshotDependencyBuilds>
      <skipIfBuildFails>true</skipIfBuildFails>
    </hudson.plugins.sonar.SonarPublisher>
  </publishers>
  <buildWrappers/>
</project>